
.max-size-block {
    max-width: 80%;
}
.max-parent-box {
    max-width: 1920px;
}
@media screen and (min-width: 1440px) {
    .max-size-block {
        max-width: 100%;
    }

    .max-parent-box {
        max-width: 100%;
    }
}